@model IEnumerable<HireProSol.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="card">
                <div class="card-two">
                    <header>
                        <div class="avatar">
                            <img src="https://randomuser.me/api/portraits/women/21.jpg" alt="Allison Walker" />
                        </div>
                    </header>
                    <a href="/Services/SubmitService?caregiverid=@item.Id&serviceid=@ViewBag.serviceid">
                        <h3>@item.FirstName  @item.LastName</h3>
                        <div class="desc">
                            @item.Age | @item.City.Name | @item.ResumeHeadline
                        </div>
                        <div class="contacts">
                            <a href=""><i class="fa fa-plus"></i></a>
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                            <div class="clear"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>