@model IEnumerable<HireProSol.Models.License>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">License</h4>                
                <div class="btn-group">
                    <a class="btn btn-sm btn-info text-white" href="/Licenses/Create"><i class="mdi mdi-plus-circle-outline"></i> Add</a>
                </div>
                <br /><br />
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type.LicenseTypeDesc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Key)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedOn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsBlocked)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BlockedOn)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type.LicenseTypeDesc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsBlocked)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BlockedOn)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Licenses",new { id=item.Id })" class="btn btn-warning">
                                            Edit
                                            <span class="icon-note" aria-hidden="true"></span>
                                        </a>
                                        <a href="@Url.Action("Details", "Licenses",new { id=item.Id })" class="btn btn-warning">
                                            Details
                                            <span class="icon-info" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>